# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db